@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@font-face {
  font-family: "Pixelify Sans Local";
  src: url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display", serif;
  src: url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
.anton-text {
  font-family: "Anton SC", sans-serif;
}
.pixel-text {
  font-family: "Pixelify Sans", "Pixelify Sans Local", sans-serif;
}
.playfair-text {
  font-family: "Playfair Display", "Playfair Display", sans-serif;
}
.anton-text {
  font-family: "Anton SC", sans-serif;
}
.nunito-text {
  font-family: "Nunito", sans-serif;
}
.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.home .swiper-button-next,
.home .swiper-button-prev {
  display: none;
}

/* scroll */
html ::-webkit-scrollbar {
  border-radius: 0px;
  width: 0px;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 0px;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.06);
}
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.08);
}
html ::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

/* .wrapper {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.scrollable {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: auto;
} */

.logo-login-modal{
  top: 0;
}

#register-line::before {
  content: '';
  display: block;
  align-self: center;
  height: 1px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  background: #c0c1c4;
}

#register-line::after {
  content: '';
  display: block;
  align-self: center;
  height: 1px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  background: #c0c1c4;
}